In [1]:
import pandas as pd
import numpy as np

In [2]:
data = {                 # 통계용 데이터
    'id' : [1,2,3],
    'name' : ['Choi','Lee','Kim'],
    'age' : [10,20,30],
    'assets' : [150.4, 123.4, 88.88],
    'job' : ['student', 'CEO', 'Dad']
}

df = pd.DataFrame(data)
df

   id  name  age  assets      job
0   1  Choi   10  150.40  student
1   2   Lee   20  123.40      CEO
2   3   Kim   30   88.88      Dad

In [7]:

# 데이터프레임에서의 SUM

df['age'].sum()  # Column age의 값 모두 더함
df['assets'].sum() # Column asset 값 모두 더함

df.sum() # 각 Column마다 모두 더해서 반환. 문자열은 이어붙여짐

id                    6
name         ChoiLeeKim
age                  60
assets           362.68
job       studentCEODad
dtype: object

In [8]:

#평균

df['assets'].mean() # assets Column의 평균

120.89333333333333

In [9]:

# 요약 통계

df.describe()

        id   age      assets
count  3.0   3.0    3.000000
mean   2.0  20.0  120.893333
std    1.0  10.0   30.836507
min    1.0  10.0   88.880000
25%    1.5  15.0  106.140000
50%    2.0  20.0  123.400000
75%    2.5  25.0  136.900000
max    3.0  30.0  150.400000

In [10]:
#argmax : 가장큰값의 인덱스 
#argmin : 가장작은값의 인덱스
#median : 중간값
#quantile : 분위수
#mad : 표준편차
#등 다양함