In [1]:
import pandas as pd

In [2]:
a = pd.Series([1,2,3]) # 값이 1,2,3인 시리즈를 생성합니다. 인수는 list, numpy등 다양하게 가능합니다. 인수의 데이터타입은 같지 않아도됩니다.

In [3]:
a # 값을 1,2,3만 줬는데, 인덱스가 0,1,2가 붙음을 알 수 있습니다. 또한 데이터타입도 int64로 출력됩니다.

0    1
1    2
2    3
dtype: int64

In [4]:
a.index # 해당 시리즈의 인덱스를 호출합니다.

RangeIndex(start=0, stop=3, step=1)

In [5]:
a.values # 해당 시리즈의 값

array([1, 2, 3])

In [6]:
a.index = ['a','b','c'] # 인덱스를 바꿉니다. 같은 방식으로 value값도 바꿀 수 있습니다.
a

a    1
b    2
c    3
dtype: int64

In [7]:
b = pd.Series([1,2,3], index=['a','b','c']) # 또는 생성할때 값과 인덱스를 정해줄 수 있습니다. 이때는 인수순서에 유의해야 합니다.
b

a    1
b    2
c    3
dtype: int64

In [8]:
b['c'] # 해당 인덱스를 호출하여서 dict 처럼 사용할 수 있습니다

3

In [9]:
b['a'] = 99 # 수정도 가능합니다.
b

a    99
b     2
c     3
dtype: int64

In [10]:
b[b>5] # 값들의 필터링도 가능합니다. (5보다 큰 요소 필터링)

a    99
dtype: int64

In [11]:
b= b*2 # 각 요소의 값 별로 연산을 적용시킬 수도 있습니다.
b

a    198
b      4
c      6
dtype: int64

In [12]:
'a' in b   # 특정 인덱스가 시리즈에 있는지 체크도 가능합니다.

True

In [13]:
dict_data = {'name': 'Choi', 'age' : 30, 'hobby': ['study','swimming'], 'gender' : 'man', 'weak point' : None}
sr_data = pd.Series(dict_data)
sr_data                           # dict자료형을 Series자료형으로 변환시킬 수도 있습니다

name                       Choi
age                          30
hobby         [study, swimming]
gender                      man
weak point                 None
dtype: object

In [14]:
sr_data.isnull() # 각 인덱스에 맵핑된 value가 null인지 확인합니다. True면 null입니다.

name          False
age           False
hobby         False
gender        False
weak point     True
dtype: bool

In [15]:
sr_data.name = 'Personal Information' # 해당 시리즈의 name을 설정합니다. 나중에 시리즈끼리의 처리에 쓰입니다.
sr_data.index.name = 'label'          # 해당 시리즈의 index의 name을 설정합니다.
sr_data

label
name                       Choi
age                          30
hobby         [study, swimming]
gender                      man
weak point                 None
Name: Personal Information, dtype: object

# 실습
1. 02 연습문제
2. 2의 배수이면서 0부터 30까지 정수를 가진 시리즈 se1을 만들어라.
3. se1의 인덱스도 데이터와 같은 값으로 만들어라.
4. se1의 값 중에 4의 배수인 값에 None을 삽입하라.
5. se1의 값이 None인지 확인하라.

In [16]:
temp = [ i for i in range(0,31,1) if i%2==0]

In [17]:
se1 = pd.Series(temp, index=temp)

In [18]:
se1

0      0
2      2
4      4
6      6
8      8
10    10
12    12
14    14
16    16
18    18
20    20
22    22
24    24
26    26
28    28
30    30
dtype: int64

In [19]:
se1

0      0
2      2
4      4
6      6
8      8
10    10
12    12
14    14
16    16
18    18
20    20
22    22
24    24
26    26
28    28
30    30
dtype: int64

In [21]:
for i in se1.index:
    if(se1[i]!=0 and se1[i]%4==0):
        se1[i] = None

In [22]:
se1 # 정답 se1[sel%4==0] = 0

0      0.0
2      2.0
4      NaN
6      6.0
8      NaN
10    10.0
12     NaN
14    14.0
16     NaN
18    18.0
20     NaN
22    22.0
24     NaN
26    26.0
28     NaN
30    30.0
dtype: float64

In [23]:
se1.isnull()

0     False
2     False
4      True
6     False
8      True
10    False
12     True
14    False
16     True
18    False
20     True
22    False
24     True
26    False
28     True
30    False
dtype: bool