In [2]:
import pandas as pd 
import numpy as np

In [4]:
se = pd.Series(range(10), index=[10,9,8,7,6,5,4,3,2,1]) # 시리즈 생성
se.index.name = 'index'

In [5]:
se

index
10    0
9     1
8     2
7     3
6     4
5     5
4     6
3     7
2     8
1     9
dtype: int64

In [6]:
se.sort_index() # index를 기준으로 오름차순 정렬. 대입안해주면 그대로

index
1     9
2     8
3     7
4     6
5     5
6     4
7     3
8     2
9     1
10    0
dtype: int64

In [14]:

# 이번엔 데이터프레임으로 정렬해보자
data =  {
            'id' : [1,2,3],
            'name' : ['Choi','Lee','Kim'],
            'age' : [10,20,30],
            'assets' : [150.4, 123.4, 88.88],
            'job' : ['student', 'CEO', 'Dad']
}

df = pd.DataFrame(data)    

df

   id  name  age  assets      job
0   1  Choi   10  150.40  student
1   2   Lee   20  123.40      CEO
2   3   Kim   30   88.88      Dad

In [16]:

# 데이터프레임도 index로 소트, 근데 내림차순으로 소트
df.sort_index(ascending=False)

   id  name  age  assets      job
2   3   Kim   30   88.88      Dad
1   2   Lee   20  123.40      CEO
0   1  Choi   10  150.40  student

In [18]:

# 데이터프레임 index가 아니라 Column기준으로 내림차순으로 정렬
df.sort_index(axis=1, ascending=False) # axis=0 이면 행 관련, axis=1 이면 열 관련 동작

   name      job  id  assets  age
0  Choi  student   1  150.40   10
1   Lee      CEO   2  123.40   20
2   Kim      Dad   3   88.88   30

In [19]:

# 데이터프레임 이젠 값 value로 정렬
df.sort_values( by = 'assets' )  # sort_value하고 by='컬럼명'
df

   id  name  age  assets      job
0   1  Choi   10  150.40  student
1   2   Lee   20  123.40      CEO
2   3   Kim   30   88.88      Dad

In [ ]:

# 데이터프레임 값 정렬인데 조건이 2개
df.sort_values( by=['asset', 'age'] ) # list형태로 컬럼명 주면, 순서대로 정렬에 반영함