## 계층적색인은 한마디로 index안에 또, 인덱스가 있는 구조이다
## 잘쓰면 tree나 hash로 사용가능하기도 하고
## DataFrame과 Series간의 변환도 가능하게 해준다

In [1]:
import pandas as pd
import numpy as np

In [25]:

# Series로 계층적 색인 구현

se = pd.Series(
            np.random.randn(6),
            index = [   #index 부분만 다르다.
                        ['A','A','A','A','B','C'],  # 차례대로 맵핑시킨다.
                        [1,2,3,4,5,6]
            ]
)

se

A  1    0.811599
   2    2.426032
   3   -0.603271
   4    0.613495
B  5   -0.215953
C  6   -0.094087
dtype: float64

In [26]:

se.index # 인덱스를 출력한다. 
         # 출력하고 보면, 각 계층별 레벨이 나온다

MultiIndex(levels=[['A', 'B', 'C'], [1, 2, 3, 4, 5, 6]],
           codes=[[0, 0, 0, 0, 1, 2], [0, 1, 2, 3, 4, 5]])

In [27]:
se['A'] # 상위인덱스 A에 해당하는 인덱스와 값을 불러온다.

1    0.811599
2    2.426032
3   -0.603271
4    0.613495
dtype: float64

In [28]:
se['A':'B'] # 범위도 지정가능하다, 이때 상위인덱스들은 연속되어야한다.  A,A,A,B,C여야하지 A,B,A,A,C면 슬라이싱불가능

A  1    0.811599
   2    2.426032
   3   -0.603271
   4    0.613495
B  5   -0.215953
dtype: float64

In [31]:
se[:,2] // 모든 상위인덱스중에서 하위인덱스가 2인것 출력

A    2.426032
dtype: float64

In [34]:

# 멀티인덱스 Series를 DataFrame으로 변환

#df = pd.DataFrame(se) 이 아니고
# 시리즈 멤버변수의 unstack사용
df = se.unstack() 
df

          1         2         3         4         5         6
A  0.811599  2.426032 -0.603271  0.613495       NaN       NaN
B       NaN       NaN       NaN       NaN -0.215953       NaN
C       NaN       NaN       NaN       NaN       NaN -0.094087

In [35]:

# 반대로 DataFrame을 Series로 만드려면
# DataFrame의 멤버변수 .stack() 을 사용하면, 멀티인덱스 시리즈가 됨.

df.stack()

A  1    0.811599
   2    2.426032
   3   -0.603271
   4    0.613495
B  5   -0.215953
C  6   -0.094087
dtype: float64